/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }
h1, h2, h4 { color: #222; }
a { text-decoration: none; }

/* hero 1 start */
.contain{ 
display: flex;
align-items: center;
justify-content: space-around;

  }
.hero1{
    background-image: url(/images/hero\ 1\ bg.png);
width: 1920px;
height: 120px;
}
.hero1-contant{
    text-align: center;
    display: flex;
align-items: center;
margin-top: 15px;
margin-left: 631px;
}
.h1m{
    width: 75px;
    height: 90px;
}
.contain h2{
 color: aliceblue;
font-family: cursive;
font-size: 60px;
}
/* hero 1 end */

/* banner sactiom start */
.banner{
    background-image: url(/images/banner.png);
    width: 1920px;
height: 800px;
}
.banner-info{
    text-align:center;
   padding: 250px 00px;
   margin-left: 500px;
 
}
.hb1{
    font-size: 55px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 350px;
}
.hbp{
    color: aliceblue;
    width: 696;
height: 68;
angle: 0 deg;
opacity: 1;
top: 408px;
left: 889px;
font-family: Rancho;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
margin-right: 140px;
}
.hb{
    width: 130px;
height: 48px;
font-family: Rancho;
font-weight: 400;
font-style: Regular;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
background-color:#E3B577 ;
border: none;
margin-right: 550px
}
/* banner saction end */

/* hero 3 start */
.hero3{
    text-align: center;
    background-image: url(/images/Rectangle\ 4.png);
    width: 1920px;
    height: 300px;
}
.hero3-grid{
     display: flex;
    justify-content: center;
    gap: 20px;
    padding: 80px 0px;
}
/* hero3 end */

/* popular  start */
.popular{
 text-align: center;
 margin-top: 90px;
 background-image: url(/images/popular\ bg.png);
background-repeat: no-repeat;
}
.populargrid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-image: url(/images/popular\ bg\ 2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  gap: 20px;
 
 
}
.action-button{
    
    display: inline-flex;
    gap: 10px;
}

.a1{
   background-color:#D2B48C ;
   padding: 1px 1px ;
   border: none;
   width: 25px;
   border-radius: 3px;
   margin-top: px;

}
.a2{ 
    background-color: #3C393B;
     padding: 1px 1px ;
   border: none;
   width: 25px;
   border-radius: 3px;
}
.a3{
    background-color:#EA4744 ;
     padding: 1px 1px ;
   border: none;
   width: 25px;
   border-radius: 3px;
}
.popular-bg{
    background-color:#F5F4F1 ;
    width: 250px;
    height: 370px;
    margin-left: 350px;
    border-radius: 15px;
}
.popular-bg2{
    background-color:#F5F4F1 ;
    width: 250px;
    height: 370px;
    border-radius: 15px;
margin-left: 280px;
}
.popular p{
    width: 165;
height: 26;
top: 1340px;
left: 878px;
angle: 0 deg;
opacity: 1;
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.popular h2{
    width: 367;
height: 68;
top: 1374px;
left: 777px;
angle: 0 deg;
opacity: 1;
font-family: Rancho;
font-weight: 400;
font-style: Regular;
font-size: 55px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
}
.pb1{
    width: 83;
height: 30;
top: 1467px;
left: 908px;
angle: 0 deg;
opacity: 1;
font-family: Rancho;
font-weight: 400;
font-style: Regular;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
background-color:#E3B577 ;
color: #F5F4F1;
border: none;
padding: 5px 5px;
border-radius: 4px;
margin-top: 50px;
}
/* popular end */

 /* instagram start */
 .instagram{
    text-align: center;
 }

.insta-grid{
   align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 0px;
    row-gap: 30px;
    margin-left: 150px;
    margin-top: 50px;
}
.instagram h2{
    width: 339;
height: 68;
top: 2656px;
left: 791px;
angle: 0 deg;
opacity: 1;
font-family: Rancho;
font-weight: 400;
font-style: Regular;
font-size: 55px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
}
.instagram p{
    width: 140;
height: 26;
top: 2622px;
left: 891px;
angle: 0 deg;
opacity: 1;
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 200px;
}
/* instagram end */
.footer-img{
    margin-top: 100px;
}